body {
  font-family: sans-serif;
  margin: 1em;
}

.controls {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.grid {
  display: grid;
  gap: 4px;
}

.key {
  background: #eee;
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 4px;
}
.key:active {
    background-color: #2980b9;
}